.card {
  width: 256px;
  height: 561px;
  font-size: 40px;
  border-radius: 40px;
  position: relative;
}

.card > div {
  border-radius: inherit;
  inset: 0px;
  position: absolute;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > div > img {
  width: 98%;
  height: 96.5%;
  border-radius: inherit;
  object-fit: cover;
  object-position: center center;
}

.carousel-button {
  margin: 10px;
  padding: 7px;
  height: 50px;
  width: 50px;
  border-radius: 500px;
}
.carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 573px;
}
.carousel {
  display: flex;
  margin: 20px;
  gap: 10px;
}

.circle-gradient {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 245, 224, 1) 0%,
    rgba(255, 245, 224, 0) 100%
  );
}
